<div class="row">
  <%= form_tag '/my', method: :get do %>
    <div class="small-9 columns">
      <%= text_field_tag :q, params[:q] %>
    </div>
    <div class="small-3 columns">
      <%= submit_tag 'Поиск', class: [:button, :tiny, :info] %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="small-3 columns">
    <ul class="side-nav">
      <li>
        <%= link_to 'Список фильмов и сериалов', root_path %>
      </li>
      <li>
        <%= link_to 'Добавить фильм', new_film_my_files_path %>
      </li>
      <li>
        <%= link_to 'Добавить сериал', new_serial_my_files_path %>
      </li>
    </ul>
  </div>

  <div class="main_page_content small-9 columns">
    <% @files.each do |dir, films| %>
      <div class="row">
        <div class="small-9 columns">
          <%= dir %>
        </div>
        <div class="small-3 columns">
          <%= link_to 'Удалить', my_file_path(:id => dir), method: :delete, class: [:button, :tiny, :alert], data: { :confirm => 'Удалить?' } %>
        </div>
      </div>
      <% if films.map(&:title).include?('Серия №1') %>
        <% films = films.sort %>
      <% else %>
        <% films = films %>
      <% end %>

      <ul class="small-block-grid-4">
        <% films.each do |film| %>
          <li>
            <%= check_box_tag "watched_#{film.id}", film.id, film.user_films.where(user_id: current_user.id).try(:first).try(:watched?) ? true : false,
              class: 'js-child-item' %>
            <label for="watched_<%= film.id %>" title='<%= film.title %>'>
              <%= film.title.truncate(15) %>
            </label>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
