<div class="row">
  <%= render partial: 'commons/search_form' %>
</div>

<div class="row">
  <div class="small-2 columns large-3">
    <ul class="side-nav">
      <li>
        <%= link_to 'Список фильмов и сериалов', root_path %>
      </li>
      <li>
        <%= link_to 'Добавить фильм', new_film_my_files_path %>
      </li>
      <li>
        <%= link_to 'Добавить сериал', new_serial_my_files_path %>
      </li>
    </ul>
  </div>

  <div class="main_page_content small-10 columns large-9">
    <% @dirs.each do |dir| %>
      <div class="row">
        <div class="small-9 columns">
          <%= dir.title %>
        </div>
        <div class="small-3 columns">
          <%= link_to 'Удалить', my_file_path(:id => dir.title), method: :delete, class: [:button, :tiny, :alert], data: { :confirm => 'Удалить?' } %>
        </div>
      </div>
      <ul class="small-block-grid-4">
        <% if dir.films.map(&:title).include?('Серия №1') %>
          <% films = dir.films.sort %>
        <% else %>
          <% films = dir.films.order(:title) %>
        <% end %>

        <% films.each do |film| %>
          <li>
            <%= check_box_tag "watched_#{film.id}", film.id, film.user_films.where(user_id: current_user.id).try(:first).try(:watched?) ? true : false,
              class: 'js-child-item' %>
            <label for="watched_<%= film.id %>" title='<%= film.title %>'>
              <%= film.title.truncate(15) %>
            </label>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= paginate @dirs %>
  </div>
</div>
