<div class="row">
  <%= render partial: 'commons/search_form' %>
</div>

<div class="row">
  <div class="small-3 columns">
    <ul class="side-nav">
      <li>
      <%= link_to 'Мое', my_root_path  %>
      </li>
      <li>
        <%= link_to 'Добавить фильм', new_film_my_files_path %>
      </li>
      <li>
        <%= link_to 'Добавить сериал', new_serial_my_files_path %>
      </li>
    </ul>
  </div>

  <div class="main_page_content small-9 columns">
    <% @dirs.each do |dir| %>
      <%= render partial: 'dir', locals: { dir: dir } %>
    <% end %>
  </div>
</div>
