<div class="row">
  <div class="small-3 columns">
    <ul class="side-nav">
      <li>
      <%= link_to 'Мое', my_root_path  %>
      </li>
      <li>
        <%= link_to 'Добавить фильм', new_film_my_files_path %>
      </li>
      <li>
        <%= link_to 'Добавить сериал', new_serial_my_files_path %>
      </li>
    </ul>
  </div>

  <div class="main_page_content small-9 columns">
    <% @dirs.each do |dir| %>

      <div class='dir'>
        <%= dir %>
        <% f = Film.where(dir: dir) %>
        <% if f.count > 1 %>
          Сериал (серий: <%= f.count %>)
        <% else %>
          Фильм
        <% end %>

        <% if User.find(current_user.id).user_films.where(dir: dir).any? %>
          <%= link_to 'Смотрю', start_watching_my_files_path(dir: dir), class: 'button disabled tiny' %>
        <% else %>
          <%= link_to 'Смотреть', start_watching_my_files_path(dir: dir), class: 'button success tiny' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
